@font-face {
    font-family: 'GentiumR';
    src: url('./GenBasR-webfont.eot');
    src: url('./GenBasR-webfont.eot?#iefix') format('embedded-opentype'),
         url('./GenBasR-webfont.woff') format('woff'),
         url('./GenBasR-webfont.ttf') format('truetype'),
         url('./GenBasR-webfont.svg#GentiumBasicRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'GentiumB';
    src: url('./GenBasB-webfont.eot');
    src: url('./GenBasB-webfont.eot?#iefix') format('embedded-opentype'),
         url('./GenBasB-webfont.woff') format('woff'),
         url('./GenBasB-webfont.ttf') format('truetype'),
         url('./GenBasB-webfont.svg#GentiumBasicBold') format('svg');
    font-weight: normal;
    font-style: normal;

}
