{#
/**
 * @file
 * Theme override to present all user data.
 *
 * This template is used when viewing a registered user's page,
 * e.g., example.com/user/123. 123 being the user's ID.
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 *   print a subset such as 'content.field_example'. Fields attached to a user
 *   such as 'user_picture' are available as 'content.user_picture'.
 * - attributes: HTML attributes for the container element.
 * - user: A Drupal User entity.
 *
 * @see template_preprocess_user()
 */
#}
<article{{ attributes.addClass('profile') }}>
  {% if content %}
    <div class="row">
      <div class="col-md-2">
        {{ content.user_picture }}
        <span class="sflc-member-gpg-fingerprint">{{ content.field_gpg_fingerprint }}</span>
      </div>
      <div class="col-md-10">
        <span class="sflc-member-full-name">{{ content.field_full_name }}</span>
        <span class="sflc-member-title">{{ content.field_title }}</span>
        {{ content.field_bio }}
	<span class="sflc-member-joining">{{ content.field_joined_on }}</span>
      </div>
    </div>
  {% endif %}
</article>
